# Dirtual Env
Server/venv/

# Cache 
Server/__pycache__/

# Dependencies
/.pnp
.pnp.js
Client/node_modules/
node_modules/

# Testing
/coverage
Server/test.py

#Temp Code Files
Client/src/sections/temp/